<!DOCTYPE html>
<html lang="en">
<!-- Base for Dashboard -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Index CSS -->
    <link href="../../static/css/shop/shop.css" rel="stylesheet" type="text/css">


    <!-- Common CSS -->
        <!-- Core CSS -->
        <link href="../../static/css/core/core.css" rel="stylesheet" type="text/css">
        
        <!-- Template CSS -->
        <link href="../../static/css/core/template.css" rel="stylesheet" type="text/css">
        <link href="../../static/css/core/modal.css" rel="stylesheet" type="text/css">

        <!-- Custom Fonts -->
        <link href="../../static/css/core/customfonts.css" rel="stylesheet" type="text/css">

        <!--jQuery libraries-->
        <script src="../../static/js/core/jquery-1.11.3.min.js"></script>
</head>

<body>
<mainContent>

<ul class="tab">
    <li tab="Jacket">Jacket</li>
    <li tab="Shirt">Shirt</li>
    <li tab="Pants">Pants</li>
    <li tab="Shoes">Shoes</li>
    <li tab="Tie">Tie</li>
</ul>

<div id="Jacket" class="tabcontent firsttab">
  <item src="shop_jacket_black" title="Black" price="555"></item>
  <item src="shop_jacket_blue" title="Blue" price="555"></item>
  <item src="shop_jacket_brown" title="Brown" price="555"></item>
  <item src="shop_jacket_champagne" title="Champagne" price="555"></item>
  <item src="shop_jacket_charcoal" title="Charcoal" price="555"></item>
  <item src="shop_jacket_navy" title="Navy" price="555"></item>
  <item src="shop_jacket_olive" title="Olive" price="555"></item>
  <item src="shop_jacket_white" title="White" price="555"></item>
</div>

<div id="Shirt" class="tabcontent">
  <item src="shop_shirt_blue" title="Blue" price="444"></item>
  <item src="shop_shirt_green" title="Green" price="444"></item>
  <item src="shop_shirt_grey" title="Grey" price="444"></item>
  <item src="shop_shirt_maroon" title="Maroon" price="444"></item>
  <item src="shop_shirt_navy" title="Navy" price="444"></item>
  <item src="shop_shirt_pink" title="Pink" price="444"></item>
  <item src="shop_shirt_purple" title="Purple" price="444"></item>
  <item src="shop_shirt_white" title="White" price="444"></item>

  <!-- <img src="../../static/img/shop/shop_shirt_blue.png"> -->
</div>

<div id="Pants" class="tabcontent">
    <item src="../index/main_pants" title="Pants" price="333"></item>
</div>

<div id="Shoes" class="tabcontent">
    <item src="shop_shoes1" title="Black Leather" price="222"></item>
    <item src="shop_shoes2" title="Blue Leather" price="222"></item>
    <item src="shop_shoes3" title="Light Leather" price="222"></item>
    <item src="shop_shoes4" title="Brown Leather" price="222"></item>
    <item src="shop_shoes5" title="Navy Boat" price="222"></item>
    <item src="shop_shoes6" title="Brown Boat" price="222"></item>
    <item src="shop_shoes7" title="Cowboy" price="222"></item>
    <item src="shop_shoes8" title="Boots" price="222"></item>
    <item src="shop_shoes9" title="Sneakers" price="222"></item>
</div>

<div id="Tie" class="tabcontent">
    <item src="shop_bowtie1" title="Blue Stripes" price="111"></item>
    <item src="shop_bowtie2" title="Orange Polka Dots" price="111"></item>
    <item src="shop_bowtie3" title="Wavy Red" price="111"></item>
    <item src="shop_bowtie4" title="Blue Triangles" price="111"></item>
    <item src="shop_bowtie5" title="Hearts" price="111"></item>
    <item src="shop_bowtie6" title="Orange Blossom" price="111"></item>
    <item src="shop_bowtie7" title="Checkered" price="111"></item>
    <item src="shop_bowtie8" title="Red Polka Dots" price="111"></item>
    <item src="shop_necktie_black" title="Black" price="111"></item>
    <item src="shop_necktie_brown" title="Brown" price="111"></item>
    <item src="shop_necktie_gold" title="Gold" price="111"></item>
    <item src="shop_necktie_navy" title="Navy" price="111"></item>
    <item src="shop_necktie_red" title="Red" price="111"></item>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
  <div class="modal-content" id="john">
    <span class="close">×</span>
    <p class="modal-text"></p>
  </div>
</div>


<div>
  uigacciauavuigaaa
  <h1>fwef</h1>
  <h1>fwef</h1>
</div>

</mainContent>



</body>
    <!--Button toggling Javascript-->
    <script src="../../static/js/generateContent/commonContent.js"></script>
    <script src="../../static/js/generateContent/inDivTabs.js"></script>
    <script src="../../static/js/core/modal.js"></script>

    <!-- <script src="{%  static 'js/button_toggle.js'%}"></script> -->
    <!-- <script src="{%  static 'js/plugins/morris/raphael.min.js'%}"></script> -->
</html>